{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<div class="super_container">

	<!-- Header -->
 <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<!-- Header -->
		  <header class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
      <!-- Logo -->
      <div class="logo_container">
      <a href="{% url 'inicio' %}">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
        </div>
      </a>
      </div>
      <!-- Main Navigation -->
      <nav class="main_nav_container">
        <div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                          {% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
              <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
        </div>
      </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
    <span>212-261.70.15</span>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
      <i class="fas fa-bars trans_200"></i>
    </div>
  </header>
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">About us</a></li>
					<li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="#">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

			</div>

		</div>

	</div>
<br><br><br><br><br><br><br>

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Column -->

				<div class="col-lg-8">

					<div class="news_posts">
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image">
								<!--<img src="" alt="" style="width:100%"> -->
							</div>
                            <br><br><br>
							<div class="news_post_top d-flex flex-column flex-sm-row">

                <h1>
                  CONSEJO DIRECTIVO
                  </h1>
							</div>
							<div class="news_post_text">
                                <p style="text-alingjustify;">
                                   <strong style="color:black; background-color:#DEDEDE; ">1 ALTOS MIRANDINOS</strong>
                                    <br>
                                    Presidenta: Hna. Maria José González (0212)372.00.26
                                    <br>
                                    (0414)2465177 hnamariajosejes@gmail.com
                                    <br>
                                    Secretario: Hno. Eli francisco Lopez (0426)520.48.94
                                    <br>
                                    elifrancis@gmail.com

                                </p>
                                 <p style="text-alingjustify;">
                                  <strong style="color:black; background-color:#DEDEDE; ">2 APURE</strong>
                                     <br>
                                     Presidenta: Hna. Martha Cecilia Rodriguez
                                     <br>
                                    (0416)235.98.52 macerodejesus@hotmail.com
                                 </p>
                               
                               <p style="text-alingjustify;">
                               <strong style="color:black; background-color:#DEDEDE; ">5 BARQUISIMETO</strong>

                                     <br>
                                    Presidenta: Fr. Jose Luis Uruñuelo

                                     <br>
                                   (0412) 239.72.83  - urupajl2@yahoo.es

                                 </p>
                            


                                 </p>
                                <p style="text-alingjustify;">
                           <strong style="color:black; background-color:#DEDEDE; ">8 CARORA </strong>
                            <br>
                                  Presidenta: Hna. Cristina Rojas
                                    <br>
                                    (0416)7520711 angelmar1706@hotmail.com


                                 </p>
                               
                                 <p style="text-alingjustify;">
                           <strong style="color:black; background-color:#DEDEDE; ">10 CIUDAD BOLÍVAR </strong>
                                <br>
                            Presidenta: Hna. Maria de la Cruz Peña
                                     <br>
                                     (0424)5311132 mariadelacruzp@yahoo.com

                                 </p>
                                <p style="text-alingjustify;">
                                  <strong style="color:black; background-color:#DEDEDE; ">11 CORO </strong>
                                    <br>
                                    Presidenta: Hna. Nelly Revilla
                                    <br>
                                    (0416) 666.45.72 (0414)1486717 nellymar@hotmail.com

                                 </p>
                                <p style="text-alingjustify;">
                                   5. Hna Mariana Guinand
                                    Concepcionistas Misioneras de la Enseñanza

                                 </p>
                                 
                                 
                                
                                    <p style="text-alingjustify;"> 
                       <strong style="color:black; background-color:#DEDEDE; ">15 MÉRIDA </strong>

                                <br>
                            Presidente: Hna. Zoraida Duque
                                <br>
                                        (0414)130.26.40 zoraidaduque@yahoo.es
                                 </p>
                               
                               
                        
                                  <p style="text-alingjustify;">
                    <strong style="color:black; background-color:#DEDEDE; ">20 VARGAS  </strong>
                                      <br>
                                      Hna. Carmen Graciela Fuentes Teran
                                    <br>
                                      (0424)2557111 hcarfunte@gmail.com

                              
							</div>
                            <br><br><br>

                            <div class="news_post_image">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->

    <footer class="footer">
		<div class="container">



			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<!--<img src="images/logo.png" alt="">-->
								<span>course</span>
							</div>
						</div>

						<p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Home</a></li>
								<li class="footer_list_item"><a href="#">About Us</a></li>
								<li class="footer_list_item"><a href="courses.html">Courses</a></li>
								<li class="footer_list_item"><a href="news.html">News</a></li>
								<li class="footer_list_item"><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Usefull Links</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Testimonials</a></li>
								<li class="footer_list_item"><a href="#">FAQ</a></li>
								<li class="footer_list_item"><a href="#">Community</a></li>
								<li class="footer_list_item"><a href="#">Campus Pictures</a></li>
								<li class="footer_list_item"><a href="#">Tuitions</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>
									Blvd Libertad, 34 m05200 Arévalo
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>
									0034 37483 2445 322
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>hello@company.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>


</div>


{% endblock %}