{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<div class="super_container">
    <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<header class="header d-flex flex-row">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
			<a href="{% url 'inicio' %}">
				<div class="logo">
					<img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
				</div>
			</a>
			</div>
			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                         	{% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
						  <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
			<span>212-261.70.15</span>
		</div>
		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>
	</header>
	<!-- Menu -->
	<div class="menu_container menu_mm">
		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>
		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="#">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">Nosotros</a></li>
					<li class="menu_item menu_mm"><a href="courses.html">Eventos</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="news.html">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>
				<!-- Menu Social -->
				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
				<div class="menu_copyright menu_mm"></div>
			</div>
		</div>
	</div>
	<!-- Home -->
	<div class="home">
		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div class="hero_slider owl-carousel">
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url({% static 'images/converindexx.jpg' %})"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" style="background-color: rgba(0,255,0,0.1);">Conferencia Venezolana de Religiosas y Religiosos</h1>
						</div>
					</div>
				</div>
				<!-- Hero Slide -->
				<div class="hero_slide">
					<div class="hero_slide_background" style="background-image:url({% static 'images/converindexx.jpg' %})"></div>
					<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
						<div class="hero_slide_content text-center">
							
						</div>
					</div>
				</div>
			</div>
			<div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200"><</span></div>
			<div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">></span></div>
		</div>
	</div>
	<!-- Popular -->
	<div class="">
		<div class="container">

					<div class="row">
						<div class="col">
							<div class="section_title text-center">
		                        <h1>Nuestros Eventos <small><a href="{% url 'eventos' %}">Ver Todos</a></small></h1>
		                        <br><br>
							</div>
						</div>
					</div>

                        <div class="hero_slider owl-carousel">
                            <div class="hero_slide">
                                <div class="row curse_boxes">
                                    {% for eventos in eventos %}
                                    <div class="col-lg-4 course_box">
                                        <div class="card">
                                            <img class="card-img-top" src="../..{{ eventos.foto.url }}" alt="">
                                            <div class="card-body text-center">
                                                <div class="card-title"><a href="courses.html">{{ eventos.titulo }}</a></div>
                                                <div class="card-text">{{ eventos.descripcion|slice:":20" }}....</div>
                                            </div>
                                            <div class="price_box d-flex flex-row align-items-center">
                                                <a class="course_author_name"  href="{% url 'detallev' eventos.id %}">{{ eventos.pertenece|slice:":20" }} || LEER MAS</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                              <div class="hero_slide">
                                <div class="row curse_boxes">
                                    {% for eventos in eventos %}
                                    <div class="col-lg-4 course_box">
                                        <div class="card">
                                            <img class="card-img-top" src="../..{{ eventos.foto.url }}" alt="">
                                            <div class="card-body text-center">
                                                <div class="card-title"><a href="courses.html">{{ eventos.titulo }}</a></div>
                                                <div class="card-text">{{ eventos.descripcion|slice:":20" }}....</div>
                                            </div>
                                            <div class="price_box d-flex flex-row align-items-center">
                                                <a class="course_author_name" href="">{{ eventos.pertenece|slice:":20" }} || LEER MAS</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
			</div>
	</div>
	<!-- Register -->

	<div class="register">

		<div class="container-fluid">
			
			<div class="row row-eq-height">
				<div class="col-lg-6 nopadding">
					<div class="register_section d-flex flex-column align-items-center justify-content-center" style="background-color:#07C630">
						<div class="register_content text-center">
							<h1 class="register_title">En los siguientes links podras ver <span>Los Directorios</span></h1>
							<h3 class="register_text" style="text-align: justify;">En convers contamos con un directorio
                                de congregaciones asociadas a nosotros los cuales podras encontrar
                                un listado completo diferenciadas entre masculinas y femeninas</h3>
							<br><br><br>
                            <div class="button" style="background-color:white"><a href="{% url 'congregacionm' %}">Masculinas</a></div>
							<br>
							<div class="button" style="background-color:white"><a href="{% url 'congregacionf' %}"> Femeninas</a></div>
							<br><br><br>
						</div>
					</div>

				</div>


				<div class="col-lg-6 nopadding">
					<div class="search_section d-flex flex-column align-items-center justify-content-center">
						<div class="search_background" style="background-image:url({% static 'images/course_3.jpg' %}); height: 100%;"></div>	
							<div class="search_content text-center">
							<h1 class="search_title">Nuestras Comisiones</h1>
							<h3 style="text-align: justify; color:black;"> Las comisiones de la organizacion son un 
								ente fundamental para el desarrollo y la productividad de la misma,
                                las cuales estan divididas en diferentes categofias, como pastoral, vocacional
                                , formacion, justicia y paz, nuevas generaciones, equipo de reflexion
                                <br><br><br><br></h3>
						</div>
					</div>

				</div>


				<!--<div class="col-lg-6 nopadding">
					<div class="search_section d-flex flex-column align-items-center justify-content-center">
						<div class="search_background" style="background-image:url({% static 'images/course_3.jpg' %});"></div>
							<div class="search_content text-center">
							<h1 class="search_title">Nuestras Comisiones</h1>
							<h3 style="text-align: justify; color:black;"> Las comisiones de la organizacion son u
                                n ente fundamental para el desarrollo y la productividad de la misma,
                                las cuales estan divididas en diferentes categofias, como pastoral, vocacional
                                , formacion, justicia y paz, nuevas generaciones, equipo de reflexion</h3>
						</div> 
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<!-- Services -->

	<div class="services page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Nuestras Ultimas Noticias</h1>
					</div>
				</div>
			</div>

			<div class="row services_row">
             {% for noticias in noticia %}
				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="{% static 'images/exam.svg' %}" alt="" >
					</div>
					<h3>{{ noticias.titulo }}</h3>
					<p>{{ noticias.descripcion|slice:":20" }}... </p>
						<div class="button" style="background-color:white">{{ noticias.fecha_publicacion }}<a href="{% url 'detallen' noticias.id %}"> Ver Mas</a></div>
				</div>
             {% endfor %}
			</div> 
		</div>
	</div>

	<!-- Testimonials -->

	<!--<div class="testimonials page_section">
		<!--<div class="testimonials_background"></div>
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url({% static 'images/statica.jpg' %})"></div>
		</div>
		<div class="container"> -->
<!--
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>What our students say</h1>
					</div>
				</div>
			</div>
-->
			<!--<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
					<div class="testimonials_slider_container">
						<div class="owl-carousel owl-theme testimonials_slider">
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
										</div>
										<div class="testimonial_name">james cooper</div>
										<div class="testimonial_title">Graduate Student</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
-->

	<!-- Events -->

	<div class="events page_section">
		<div class="container">
			
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Alguno de Nuestros Archivos</h1>
					</div>
				</div>
			</div>
			
			<div class="event_items">
                 {% for archivos in archivos %}
				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">{{ archivos.titulo }}</a></div>
                                    <div class="event_location"><a href="../media/{{ archivos.archivo }}">{{ archivos.archivo }}</a></div>
									<p>{{ archivos.descripcion }}</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="..{{ archivos.foto.url }}" alt="">
								</div>
							</div>

						</div>	
					</div>
				</div>
                {% endfor %}

			</div>
				
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			


			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<!--<img src="images/logo.png" alt="">-->
								<span>CONVER</span>
							</div>
						</div>

						<p class="footer_about_text">Dirección: 6ta. Transversal entre 3ra. y 4ta Avenida. Altamira - Caracas 1060</p>

					</div>

					<!-- Footer Column - Menu -->

					
					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Correo - Telefono </div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="">Teléfono: (58) 212-261.70.15 </a></li>
								<li class="footer_list_item"><a href="">(58) 266.35.12 / (58) 263.78.95</a></li>
								<li class="footer_list_item"><a href="">conversec@gmail.com </a></li>
								<li class="footer_list_item"><a href="">sec.conver1@gmail.com </a></li>
							</ul>
						</div>
					</div>
					
					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Enlaces de Interes</div>
						<div class="footer_column_content">
							<ul>
							<li class="footer_list_item"><a href="http://www.cev.org.ve/">Conferencia Episcopal Venezolana (CEV)</a></li>
							<li class="footer_list_item"><a href="http://www.clar.org/">Conferencia Latinoamericana de Religiosos (CLAR) </a></li>
							<li class="footer_list_item"><a href="http://w2.vatican.va/content/vatican/es.html">Vaticano</a></li>
							<li class="footer_list_item"><a href="http://www.avec.org.ve/portal/">AVEC </a></li>
							<li class="footer_list_item"><a href="http://avessoc.org.ve/">Avessoc</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title"></div>
						<div class="footer_column_content">
							<ul>
							<li class="footer_list_item"><a href="http://revistasic.gumilla.org/">SIC</a></li>
							<li class="footer_list_item"><a href="https://vidareligiosa.es/">Revista Vida Religiosa </a></li>
							<li class="footer_list_item"><a href="http://es.catholic.net/">Catholic.net</a></li>
							<li class="footer_list_item"><a href="https://es.zenit.org/">Zenit</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados | Este proyecto fue desarrollado por <i class="fa fa-heart" aria-hidden="true"></i> <a href="" target="_blank">DateGeek</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>
{% endblock %}