{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<div class="super_container">

	<!-- Header -->
 <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<!-- Header -->
	 <header class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
      <!-- Logo -->
      <div class="logo_container">
      <a href="{% url 'inicio' %}">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
        </div>
      </a>
      </div>
      <!-- Main Navigation -->
      <nav class="main_nav_container">
        <div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                          {% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
              <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
        </div>
      </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
      <span>212-261.70.15</span>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
      <i class="fas fa-bars trans_200"></i>
    </div>
  </header>
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">About us</a></li>
					<li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="#">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

			</div>

		</div>

	</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="become">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_image">
            <img src="{% static 'images/asamblea.jpg' %}" alt="" style="height: 320px; width: 100%;">
          </div>
        </div>
      <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_title">
            <h1>Presidencia</h1>
          </div>
          <p class="become_text" style="text-aling: justify;"> P.FRANCISCO MENDEZ salesianos de Don Bosco</p>
          <p class="become_text" style="text-aling: justify;"> <strong>VICE - PRESIDENTA </strong> HNA.MARÍA FÁTIMA VIEIRA DINIZ Siervas del Santísimo Sacramento</p>
        </div>
      </div>
    </div>
  </div>
<br><br><br>

<div class="become">
    <div class="container">
      <div class="row row-eq-height">
       
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_title">
            <h1>VOCALES</h1>
          </div>
          <p class="become_text" style="text-aling: justify;">P.EDDY OMAR POLO ANGELES Agustinos Recoletos de San José </p>
          <p class="become_text" style="text-aling: justify;">P.ALEJANDRO IGLESIAS BENITO Sacerdote del Sagrado Corazón de Jesús </p>
          <p class="become_text" style="text-aling: justify;">HNA. ELBA MARGARITA SÁNCHEZ  Misioneras de Cristo Jesús   </p>
        </div>
        
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_image">
            <img src="{% static 'images/asamblea2.jpg' %}" alt="" style="height: 320px; width: 100%;">
          </div>
            
        </div>
      </div>
    </div>
  </div>
<br><br><br>

<div class="become">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_image">
            <img src="{% static 'images/nosotros.jpg' %}" alt="" style="height: 320px; width: 100%;">
          </div>
        </div>
      <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_title">
            <h1>CONSEJO ASESOR </h1>
          </div>
          <p class="become_text" style="text-aling: justify;">HNA. EVELÍN FELICIA GONZÁLEZ HERNANDEZ Hnas. Carmelitas de la Madre Candelaria </p>
          <p class="become_text" style="text-aling: justify;">HNA. MARÍA ANTONIETA LANZ  San José de Tarbes </p>
          <p class="become_text" style="text-aling: justify;">HNA. ANA MARÍA GONZÁLEZ  Misioneras de la Misericordia</p>
          <p class="become_text" style="text-aling: justify;">P. JOSÉ ARIAS   Frailes Menores Franciscanos </p>
          <p class="become_text" style="text-aling: justify;">HNA MARIANA GUINAND  Concepcionistas Misioneras de la Enseñanza</p>
        </div>
      </div>
    </div>
  </div>
<br><br><br>

<div class="become">
    <div class="container">
      <div class="row row-eq-height">
       
     <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_title">
            <h1>SECRETARIA GENERAL</h1>
          </div>
          <p class="become_text" style="text-aling: justify;">HNA. NANCY ALZURU</p>
           <p class="become_text" style="text-aling: justify;">Esclavas de Cristo Rey</p>
          <p class="become_text" style="text-aling: justify;">Email: conversec1@gmail.com</p>
          <p class="become_text" style="text-aling: justify;">Telf. 0212 - 261 7015 (Ext 120/117)</p>
        </div>
        
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_image">
            <img src="{% static 'images/statica.jpg' %}" alt="" style="height: 320px; width: 100%;">
          </div>
            
        </div>
      </div>
    </div>
  </div>
<br><br><br>



<div class="become">
    <div class="container">
      <div class="row row-eq-height">
       <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_title">
            <h1>SECRETARIA ADJUNTA</h1>
          </div>
          <p class="become_text" style="text-aling: justify;">MAITHE RICO</p>
          <p class="become_text" style="text-aling: justify;">Laica</p>
          <p class="become_text" style="text-aling: justify;">Email: sec.conver1@gmail.com</p>
          <p class="become_text" style="text-aling: justify;">Telf. 0212 - 261 7015 (Ext 114)</p>
          <p class="become_text" style="text-aling: justify;"><STRONG>RECEPCION</STRONG></p>
          <p class="become_text" style="text-aling: justify;">MAUVID LONGA</p>
          <p class="become_text" style="text-aling: justify;">Laica</p>
          <p class="become_text" style="text-aling: justify;">Telf. 0212 - 261 7015 (Ext. 102)</p>
          <p class="become_text" style="text-aling: justify;">Email: secorvealtamira@gmail.com/converaltamira@gmail.com</p>
          <p class="become_text" style="text-aling: justify;"><STRONG>Administración</STRONG></p>
          <p class="become_text" style="text-aling: justify;">Lic. ANA MARÍA GONZÁLEZ </p>
          <p class="become_text" style="text-aling: justify;">Laica</p>
          <p class="become_text" style="text-aling: justify;">Email: converadmi@gmail.com</p>
          <p class="become_text" style="text-aling: justify;">Telf. 0212 - 261 7015 (Ext. 103)</p>
        </div>
       <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_title">
            <h1>FONDO DE SOLIDARIDAD PARA LA SALUD</h1>
          </div>
          <p class="become_text" style="text-aling: justify;">JASMIN SEMPRÚN </p>
          <p class="become_text" style="text-aling: justify;">Email: se.fondosalud@gmail.com</p>
          <p class="become_text" style="text-aling: justify;">Telf. 0212 - 261 7015 (Ext. 108)</p>
        </div>
      </div>
    </div>
  </div>
<br><br><br>



	<!-- News -->
<!--
	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="news_posts">
					 <div class="news_post">
							<div class="news_post_image">
							</div>
                            <br><br><br>
							<div class="news_post_top d-flex flex-column flex-sm-row">

                                <h1>miembros de Junta Directiva de la CONVER (2016 – 2019)</h1>
							</div>
							<div class="news_post_text">
                                <p style="text-alingjustify;">
                                    PRESIDENTE
                                    P.FRANCISCO MÈNDEZ
                                    Salesianos de Don Bosco
                                </p>
                                 <p style="text-alingjustify;">
                                     VICE – PRESIDENTA
                                    HNA.MARÍA FÁTIMA VIEIRA DINIZ
                                    Siervas del Santísimo Sacramento
                                 </p>
                                 <p style="text-alingjustify;">
                                     <strong>VOCALES</strong>
                                 </p>
                                 <p style="text-alingjustify;">
                                    1. P.EDDY OMAR POLO ANGELES
                                    Agustinos Recoletos de San José

                                 </p>
                                <p style="text-alingjustify;">
                                 2. P.ALEJANDRO IGLESIAS BENITO
                                    Sacerdote del Sagrado Corazón de Jesús
                                 </p>
                                  <p style="text-alingjustify;">
                               3. HNA. ELBA MARGARITA SÁNCHEZ
                                Misioneras de Cristo Jesús

                                 </p>

                                  <p style="text-alingjustify;">
                                     CONSEJO ASESOR

                                 </p>
                                <p style="text-alingjustify;">
                                 1. HNA. EVELÍN FELICIA GONZÁLEZ HERNANDEZ
                                Hnas. Carmelitas de la Madre Candelaria

                                 </p>
                                 <p style="text-alingjustify;">
                                2. HNA.ANA MARÍA GONZÁLEZ
                                Misioneras de la Misericordia


                                 </p>
                                 <p style="text-alingjustify;">
                              3. HNA. MARÍA ANTONIETA LANZ
                                San José de Tarbes
                                 </p>
                                <p style="text-alingjustify;">
                                        4 . P. JOSÉ ARIAS
                                    Frailes Menores Franciscanos

                                 </p>
                                <p style="text-alingjustify;">
                                   5. Hna Mariana Guinand
                                    Concepcionistas Misioneras de la Enseñanza

                                 </p>
                                 <p style="text-alingjustify;">
                                  SECRETARIA GENERAL / EJECUTIVA
                                 </p>
                                 <p style="text-alingjustify;">
                                  HNA. NANCY ALZURU
                                Esclavas de Cristo Rey<br>
                                Email: conversec1@gmail.com
                                Telf. 0212 - 261 7015 (Ext 120/117)
                                 </p>
                                <p style="text-alingjustify;">
                                  MAITHE RICO Laica
                                <br>
                               Email: sec.conver1@gmail.com
                                Telf. 0212 - 261 7015 (Ext 114)
                                 </p>
                                    <p style="text-alingjustify;">
                                 Mauvid Longa
                                <br>
                             Telf. 0212 - 261 7015 (Ext. 102)
                            Email: secorvealtamira@gmail.com
                                        converaltamira@gmail.com
                                 </p>
                                  <p style="text-alingjustify;">
                                 Lic. Ana Maria Gonzalez
                                <br>
                            Email: converadmi@gmail.com
                                Telf. 0212 - 261 7015 (Ext. 103)
                                 </p>
                                <p style="text-alingjustify;">
                               jasmin Semprun
                                <br>Email: se.fondosalud@gmail.com
                                Telf. 0212 - 261 7015 (Ext. 108)
                                 </p>
							</div>
                            <br><br><br>

                            <div class="news_post_image">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
-->
	<!-- Footer -->

    <footer class="footer">
		<div class="container">



			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<!--<img src="images/logo.png" alt="">-->
								<span>course</span>
							</div>
						</div>

						<p class="footer_about_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum, tempor lacus.</p>

					</div>

					<!-- Footer Column - Menu -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Menu</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Home</a></li>
								<li class="footer_list_item"><a href="#">About Us</a></li>
								<li class="footer_list_item"><a href="courses.html">Courses</a></li>
								<li class="footer_list_item"><a href="news.html">News</a></li>
								<li class="footer_list_item"><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Usefull Links</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="#">Testimonials</a></li>
								<li class="footer_list_item"><a href="#">FAQ</a></li>
								<li class="footer_list_item"><a href="#">Community</a></li>
								<li class="footer_list_item"><a href="#">Campus Pictures</a></li>
								<li class="footer_list_item"><a href="#">Tuitions</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Contact</div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>
									Blvd Libertad, 34 m05200 Arévalo
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>
									0034 37483 2445 322
								</li>
								<li class="footer_contact_item">
									<div class="footer_contact_icon">
										<!--<img src="images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">-->
									</div>hello@company.com
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>


</div>


{% endblock %}