{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
  
<div class="super_container">
    <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
    <!-- Header -->


    <!-- Popular -->
<br><br><br>

    <!-- Register -->

<style>
#magazine{
width:800px;
height:400px;
}
#magazine .turn-page{
width:400px;
height:400px;
background-color:#ccc;
}
</style>
    <div class="events page_section"  style="background-color:white;" >
        <div class="container">
              <div id="magnazine">
                   <div class="hard"> 
                    <img src="{% static 'images/directoriopagina1.png' %}" alt="" style="width:100%;height:100%;">
                   </div>

                   <!--1 2 -->
                <div class="hard">
                  <img src="{% static 'images/pagina1.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina2.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 3 4 -->
                <div class="hard">
                  <img src="{% static 'images/pagina3.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/enblanco.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 5 6 -->
                <div class="hard">
                  <img src="{% static 'images/enblanco.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina5.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 6 7 -->
                <div class="hard">
                  <img src="{% static 'images/pagina6.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina7.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 8 9 -->
                <div class="hard">
                  <img src="{% static 'images/pagina8.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina9.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 10 11 -->
                <div class="hard">
                  <img src="{% static 'images/pagina10.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina11.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 12 13 -->
                <div class="hard">
                  <img src="{% static 'images/pagina12.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina13.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 14 15 -->
                <div class="hard">
                  <img src="{% static 'images/pagina14.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina15.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 16 17 -->
                <div class="hard">
                  <img src="{% static 'images/enblanco.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina17.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 18 19 -->
                <div class="hard">
                  <img src="{% static 'images/pagina19.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina18.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 20 21 -->
                <div class="hard">
                  <img src="{% static 'images/pagina20.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina21.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 22 23 -->
                <div class="hard">
                  <img src="{% static 'images/pagina22.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina23.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 24 25 -->
                <div class="hard">
                  <img src="{% static 'images/pagina24.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina25.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 26 27 -->
                <div class="hard">
                  <img src="{% static 'images/pagina26.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina27.png' %}" alt="" style="width:100%;height:100%;">
                </div>



                 <!-- 28 29 -->
                <div class="hard">
                  <img src="{% static 'images/pagina28.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina29.png' %}" alt="" style="width:100%;height:100%;">
                </div>



                 <!-- 30 31 -->
                <div class="hard">
                  <img src="{% static 'images/pagina30.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina31.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                  <!-- 32 33 -->
                <div class="hard">
                  <img src="{% static 'images/pagina32.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina33.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 34 35 -->
                <div class="hard">
                  <img src="{% static 'images/pagina34.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina35.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 36 37 -->
                <div class="hard">
                  <img src="{% static 'images/pagina36.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina37.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 38 39 -->
                <div class="hard">
                  <img src="{% static 'images/pagina38.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina39.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 40 41 -->
                <div class="hard">
                  <img src="{% static 'images/pagina40.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina41.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                <!-- 42 43 -->
                <div class="hard">
                  <img src="{% static 'images/pagina42.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina43.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                <!-- 44 45 -->
                <div class="hard">
                  <img src="{% static 'images/pagina44.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina45.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                <!-- 46 47 -->
                <div class="hard">
                  <img src="{% static 'images/pagina46.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina47.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 48 49 -->
                <div class="hard">
                  <img src="{% static 'images/pagina48.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina49.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 50 51 -->
                <div class="hard">
                  <img src="{% static 'images/pagina50.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina51.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 52 53 -->
                <div class="hard">
                  <img src="{% static 'images/pagina52.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina53.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 54 55 -->
                <div class="hard">
                  <img src="{% static 'images/pagina54.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina55.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 56 57 -->
                <div class="hard">
                  <img src="{% static 'images/enblanco.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina57.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 58 59 -->
                <div class="hard">
                  <img src="{% static 'images/pagina58.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina59.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 60 61 -->
                <div class="hard">
                  <img src="{% static 'images/pagina60.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina61.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 62 63 -->
                <div class="hard">
                  <img src="{% static 'images/pagina62.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina63.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                <!-- 64 65 -->
                <div class="hard">
                  <img src="{% static 'images/pagina64.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina65.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                 <!-- 66 67 -->
                <div class="hard">
                  <img src="{% static 'images/pagina66.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina67.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                 <!-- 68 69 -->
                <div class="hard">
                  <img src="{% static 'images/pagina68.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina69.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                 <!-- 70 71 -->
                <div class="hard">
                  <img src="{% static 'images/enblanco.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina71.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                 <!-- 72 73 -->
                <div class="hard">
                  <img src="{% static 'images/pagina73.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina74.png' %}" alt="" style="width:100%;height:100%;">
                </div>



                 <!-- 75 76 -->
                <div class="hard">
                  <img src="{% static 'images/pagina75.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina76.png' %}" alt="" style="width:100%;height:100%;">
                </div>

                  <!-- 77 78 -->
                <div class="hard">
                  <img src="{% static 'images/pagina77.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina78.png' %}" alt="" style="width:100%;height:100%;">
                </div>


                  <!-- 79 80 -->
                <div class="hard">
                  <img src="{% static 'images/pagina79.png' %}" alt="" style="width:100%;height:100%;">
                </div>
                <div class="hard">
                  <img src="{% static 'images/pagina80.png' %}" alt="" style="width:100%;height:100%;">
                </div>


            


                  <div class="hard"> 
                    <img src="{% static 'images/directoriopagina2.jpg' %}" alt="" style="width:100%;height:100%;">
                  </div>
</div>
                                    </div>
                                </div>

 

</div>




{% endblock %}