{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}

<div class="super_container">

	<!-- Header -->
 <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<!-- Header -->
			<header class="header d-flex flex-row">
		<div class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
			<a href="{% url 'inicio' %}">
				<div class="logo">
					<img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
				</div>
			</a>
			</div>
			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                         	{% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
						  <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
			<span>212-261.70.15</span>
		</div>
		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>
	</header>
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">About us</a></li>
					<li class="menu_item menu_mm"><a href="courses.html">Courses</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="#">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

			</div>

		</div>

	</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="news">
	<div class="container">
		<div class="row">
				<div class="col-lg-8">
					<div class="news_post_container">
						<div class="news_post">
							<div class="news_post_image">
								<img src="../..{{ noticia.foto.url }}" alt="" style="width:100%">
							</div>
							<div class="news_post_top d-flex flex-column flex-sm-row">
								<div class="news_post_title_container">
									<br><br>
									<div class="news_post_title">
										<center><h1 href="">{{ noticia.titulo }}</h1></center>
									</div>
									<br><br>
								</div>
							</div>
							<div class="news_post_text">
								<p>{{ noticia.descripcion }}</p>
							</div>
						</div>

					</div>
				</div>
					<div class="col-lg-4">
					<div class="sidebar">
						<div class="sidebar_section">
							<div class="sidebar_section_title">
								<h1>Ultimos Eventos</h1>
							</div>
							<div class="latest_posts">	
							{% for mas_noticias in mas_noticias%}
								<div class="latest_post">
								<a href="{% url 'detallev' mas_noticias.id %}">
									<div class="latest_post_image">
										<img src="../..{{ mas_noticias.foto.url }}" alt="" style="width: 100%">
									</div>
									<br><br>
									<div class="latest_post_title">
										<center><h3>{{ mas_noticias.titulo }}</h3></center>
										<p>{{ mas_noticias.descripcion|slice:":30"  }}</p>
									</div>
								</a>
								</div>
								<br><br>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
<br><br><br>

	<!-- News -->

	<!--
	<div class="news">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="news_posts">
						<div class="news_post">
							<div class="news_post_image">
								<img src="../..{{ eventos.foto.url }}" alt="" style="width:100%">
							</div>
                            <br><br><br>
							<div class="news_post_top d-flex flex-column flex-sm-row">

                                <h1>{{ eventos.titulo }}</h1>
							</div>
							<div class="news_post_text">
								<p>{{ eventos.descripcion }}</p>
							</div>
                            <br><br><br>

                            <div class="news_post_image">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<! -->


   <footer class="footer">
		<div class="container">
			


			<div class="footer_content">
				<div class="row">

					<!-- Footer Column - About -->
					<div class="col-lg-3 footer_col">

						<!-- Logo -->
						<div class="logo_container">
							<div class="logo">
								<!--<img src="images/logo.png" alt="">-->
								<span>CONVER</span>
							</div>
						</div>

						<p class="footer_about_text">Dirección: 6ta. Transversal entre 3ra. y 4ta Avenida. Altamira - Caracas 1060</p>

					</div>

					<!-- Footer Column - Menu -->

					
					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Correo - Telefono </div>
						<div class="footer_column_content">
							<ul>
								<li class="footer_list_item"><a href="">Teléfono: (58) 212-261.70.15 </a></li>
								<li class="footer_list_item"><a href="">(58) 266.35.12 / (58) 263.78.95</a></li>
								<li class="footer_list_item"><a href="">conversec@gmail.com </a></li>
								<li class="footer_list_item"><a href="">sec.conver1@gmail.com </a></li>
							</ul>
						</div>
					</div>
					
					<!-- Footer Column - Usefull Links -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title">Enlaces de Interes</div>
						<div class="footer_column_content">
							<ul>
							<li class="footer_list_item"><a href="http://www.cev.org.ve/">Conferencia Episcopal Venezolana (CEV)</a></li>
							<li class="footer_list_item"><a href="http://www.clar.org/">Conferencia Latinoamericana de Religiosos (CLAR) </a></li>
							<li class="footer_list_item"><a href="http://w2.vatican.va/content/vatican/es.html">Vaticano</a></li>
							<li class="footer_list_item"><a href="http://www.avec.org.ve/portal/">AVEC </a></li>
							<li class="footer_list_item"><a href="http://avessoc.org.ve/">Avessoc</a></li>
							</ul>
						</div>
					</div>

					<!-- Footer Column - Contact -->

					<div class="col-lg-3 footer_col">
						<div class="footer_column_title"></div>
						<div class="footer_column_content">
							<ul>
							<li class="footer_list_item"><a href="http://revistasic.gumilla.org/">SIC</a></li>
							<li class="footer_list_item"><a href="https://vidareligiosa.es/">Revista Vida Religiosa </a></li>
							<li class="footer_list_item"><a href="http://es.catholic.net/">Catholic.net</a></li>
							<li class="footer_list_item"><a href="https://es.zenit.org/">Zenit</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<!-- Footer Copyright -->

			<div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
				<div class="footer_copyright">
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados | Este proyecto fue desarrollado por <i class="fa fa-heart" aria-hidden="true"></i> <a href="" target="_blank">DateGeek</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="footer_social ml-sm-auto">
					<ul class="menu_social">
						<li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>


</div>

{% endblock %}