{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<div class="super_container">

	<!-- Header -->

 <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<!-- Header -->
	 <header class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
      <!-- Logo -->
      <div class="logo_container">
      <a href="{% url 'inicio' %}">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
        </div>
      </a>
      </div>
      <!-- Main Navigation -->
      <nav class="main_nav_container">
        <div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                          {% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
              <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
        </div>
      </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
      <span>212-261.70.15</span>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
      <i class="fas fa-bars trans_200"></i>
    </div>
  </header>
	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">About us</a></li>
					<li class="menu_item menu_mm"><a href="#">Courses</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="news.html">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm"></div>
			</div>

		</div>

	</div>

	<!-- Home -->



	<!-- Popular -->

	<div class="popular page_section">
		<div class="container">
        <br><br><br><br>
            <center><h1>NUEVAS GENERACIONES
</h1></center>
<br><br>

            <br><br>
            <center><h2 style="text-aling:justify">Quiénes somos</h2>
                <h3 style="text-align: justify;"> Somos una Comisión de CONVER integrada por consagrados y consagradas que nos encontramos en el período que abarca desde la emisión de los primeros votos hasta los cinco años de votos perpetuos (solemnes) que se concibe como un vínculo abierto para la participación de la Vida Consagrada en Venezuela en el que se generan espacios (orantes, de encuentro, formación y acción) para abordar diferentes realidades.

            </h3></center>
            <br><br>
            <center><img src="{% static 'images/background.jpg' %}" alt="" style="height: 500px;"></center>
            <br><br>
              <center><h2 style="text-aling:justify"> Espíritu de la Comisión</h2>
              <h3 style="text-align:justify">
       La Comisión, como vínculo abierto, incluye y abarca a todos los religiosos y religiosas jóvenes de Venezuela concibiéndolos como parte de la misma, en la medida en que su participación, pensamiento e inquietudes son el nutriente vital de su trabajo. Antes de querer establecer una estructura jerárquica de decisión, organización y animación, la Comisión, pretende representar a todos y a todas los y las religiosos y religiosas jóvenes del país. Por lo tanto, su forma de trabajo está fundamentada en el espíritu de las primeras comunidades cristianas (Hch 2, 42), creyendo juntos, procurando la comunión en las ideas y las acciones, respondiendo oportunamente a las necesidades de sus miembros, perseverando en el trabajo. 

            </h3></center>

             <center><h2 style="text-aling:justify">Misión</h2>
              <h3 style=" text-align: justify;">
       Ser un generador de espacios de animación y revitalización de las Nuevas Generaciones de Vida Consagrada en Venezuela recolectando su pensamiento y su sentir, convirtiéndonos en profecía eclesial, política y social de nuestro país.



            </h3></center>
 <br><br>
             <center><h2 style="text-aling:justify">Visión</h2>
               <h3 style="text-align:justify">
                Ser signo del proyecto de Jesús anunciando y denunciando la opresión de nuestro pueblo ante la sociedad, siendo la palabra sincera ante la rutina y el pesimismo procurando que el Evangelio sea nuestro rostro. Una Comisión que no sea una simple generadora de encuentros para ponernos en sintonía con documentos y reflexiones que surgen en torno a la Vida Consagrada a nivel mundial, sino que también sea una muestra clara de su puesta en práctica. Que brinde herramientas de formación y práctica sin hacer dicotomías, evitando un academicismo absoluto o una mera filantropía. Que apueste por la Iglesia, con sus fallos y sus aciertos, como una tarea a construir por todos. 

            </h3></center>
            <br><br>

            <div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
                        <h1>Nuestros Eventos </h1>
                        <br><br>
					</div>
				</div>
			</div>
			<div class="row course_boxes">
				<!-- Popular Course Item -->
				 {% for eventos in eventos %}
                                    <div class="col-lg-4 course_box">
                                        <div class="card">
                                            <img class="card-img-top" src="../..{{ eventos.foto.url }}" alt="">
                                            <div class="card-body text-center">
                                                <div class="card-title"><a href="">{{ eventos.titulo }}</a></div>
                                                <div class="card-text">{{ eventos.descripcion|slice:":20" }}....</div>
                                            </div>
                                            <div class="price_box d-flex flex-row align-items-center">
                                                <a class="course_author_name" href="{% url 'detallev' eventos.id %}">{{ eventos.pertenece|slice:":20" }} || LEER MAS</a>
                                            </div>
                                        </div>
                                    </div>
                {% endfor %}

			</div>
		</div>
	</div>

	<!-- Footer -->



</div>

{% endblock %}