{% extends 'base.html' %}
{% load staticfiles %}
{% block page_content %}
<div class="super_container">

	<!-- Header -->

 <style>
        .boton-header{
            background-color:#FFFFF;
        }
    </style>
	<!-- Header -->
	 <header class="header d-flex flex-row">
    <div class="header_content d-flex flex-row align-items-center">
      <!-- Logo -->
      <div class="logo_container">
      <a href="{% url 'inicio' %}">
        <div class="logo">
          <img src="{% static 'images/logo.png' %}" alt="" style="width:100px;">
        </div>
      </a>
      </div>
      <!-- Main Navigation -->
      <nav class="main_nav_container">
        <div class="main_nav">
                    <div class="btn-group">
                      <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nosotros
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'nosotros' %}">Nosotros</a>
                        <a class="dropdown-item" href="{% url 'junta_directiva' %}">Junta Directiva</a>
                        <a class="dropdown-item" href="{% url 'Asamblea' %}">Asamblea</a>
                        <a class="dropdown-item" href="{% url 'consejo_directivo' %}">Consejo Directivo</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'congregacionf' %}">Congregacion Femeninas</a>
                          <a class="dropdown-item" href="{% url 'congregacionm' %}">Congregacion Masculina</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  href="" style="background-color:white;"  type="button" class="btn">
                         <a href="{% url 'eventos' %}"> Eventos</a>
                      </button>
                    </div>
                     <div class="btn-group">
                     <button style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Directorio
                      </button>
                      <div class="dropdown-menu">
                         <form class="px-4 py-3" method="post" action="{% url 'login_concepcionistas' %}">
                          {% csrf_token %}
                            <div class="form-group">
                              <label for="exampleDropdownFormEmail1">Nombre de Usuario</label>
                              <input type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com" name="username">
                            </div>
                            <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="password">
                            </div>
                            <input type="submit" class="btn btn-primary" value="iniciar">
                          </form>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="">inicia session para tener acceso</a>
                          <a class="dropdown-item" href="#">Al directorio completo</a>
                      </div>
                    </div>
                      <div class="btn-group">
                          <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comisiones
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'escuela_formacion' %}">Escuela de Formacion Permanente</a>
                              <a class="dropdown-item" href="{% url 'pastoral_vocacional' %}">Pastoral Vocacional</a>
                              <a class="dropdown-item" href="{% url 'nuevas_generaciones' %}">Nuevas Generaciones</a>
                              <a class="dropdown-item" href="#">Equipo de Reflexion Teologica</a>
                              <a class="dropdown-item" href="#">Justicia y Paz</a>
                          </div>
                    </div>
                     <div class="btn-group">
                      <button style="background-color:white;"  type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Servicios
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'servicios' %}">Ver Todos</a>
                      </div>
                    </div>
                     <div class="btn-group">
                      <button  style="background-color:white;" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Noticias
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'lista_noticias' %}">Todas las Noticias</a>
              <a class="dropdown-item" href="{% url 'lista_archivos' %}">Todos los Archivos</a>
                          <a class="dropdown-item" href="{% url 'fullcalendar' %}">Calendario</a>
                      </div>
                    </div>
        </div>
      </nav>
    </div>
    <div class="header_side d-flex flex-row justify-content-center align-items-center" style="background-color:#07C630">
    <span>212-261.70.15</span>
    </div>
    <!-- Hamburger -->
    <div class="hamburger_container">
      <i class="fas fa-bars trans_200"></i>
    </div>
  </header>

	<!-- Menu -->
	<div class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm"><a href="index.html">Home</a></li>
					<li class="menu_item menu_mm"><a href="#">About us</a></li>
					<li class="menu_item menu_mm"><a href="#">Courses</a></li>
					<li class="menu_item menu_mm"><a href="elements.html">Elements</a></li>
					<li class="menu_item menu_mm"><a href="news.html">News</a></li>
					<li class="menu_item menu_mm"><a href="contact.html">Contact</a></li>
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm"></div>
			</div>

		</div>

	</div>

	<!-- Home -->



	<!-- Popular -->
  <br><br><br><br><br><br><br><br><br>
  <div class="become">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_image">
           <center> <img src="{% static 'images/logo_cer1.png' %}" alt="" style="height: 200px; width: 200px;"> </center>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_title">
            <h1>ITER</h1>
          </div>
          <p class="become_text" style=" text-align: justify;"> El ITER (Instituto de Teología para Religiosos), que busca fortalecer la posición del saber teológico frente a las demás ciencias que conforman el pensamiento contemporáneo; el encuentro entre las diferentes familias religiosas, la vida diocesana y el laicado en Venezuela, dentro de un marco de reconocimiento de la pluralidad e importancia de los carismas en nuestra realidad socio-cultural y eclesial. <BR>
     <a href=" http://iter.ucab.edu.ve/pre/info/infogeneral.htm "> http://iter.ucab.edu.ve/pre/info/infogeneral.htm </a></p>   
        </div>
      </div>
    </div>
  </div>
<br><br><br>

<div class="become">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_image">
           <center> <img src="{% static 'images/loGo_cer2.png' %}" alt="" style="height: 300px; width: 300px;"> </center>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_title">
            <h1>CER</h1>
          </div>
          <p class="become_text" style=" text-align: justify;">Es un Centro de Estudios Religiosos que tiene como finalidad promocionar la formación académica-teológica de las/os jóvenes formandas/os de las Congregaciones Religiosas de Venezuela. Allí  se brinda la posibilidad de preparar a formandas, formandos, y laicos para una vida religiosa y cristiana venezolana y latinoamericana, como una respuesta a los signos de los tiempos. Está atendido por un equipo directivo de religiosas voluntarias que gracias a algunos proyectos pueden favorecer un Staff de profesores de alta calidad</p>   
        </div>
      </div>
    </div>
  </div>
	<div class="popular page_section">
		<div class="container">
            <br><br>
             <center><h2 style="text-aling:justify">FONDO DE SOLIDARIDAD PARA LA SALUD </h2>
              <h3 style="text-align:justify">
    Es una instancia de CONVER que busca apoyar en forma solidaria e intercongregacional a las Congregaciones, afiliadas a  dicho FONDO, en los casos de salud. Se apoya en casos de hospitalización, cirugía y emergencias de acuerdo a unos parámetros fijados por la Asamblea de miembros. Es dirigido por un Consejo Económico conformado por un grupo de religiosos y religiosas que voluntariamente prestan su colaboración.
            </h3></center>
 <br><br>


            <div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
                        <h1>Nuestros Eventos </h1>
                        <br><br>
					</div>
				</div>
			</div>
			<div class="row course_boxes">
				<!-- Popular Course Item -->
				 {% for eventos in eventos %}
                                    <div class="col-lg-4 course_box">
                                        <div class="card">
                                            <img class="card-img-top" src="../..{{ eventos.foto.url }}" alt="">
                                            <div class="card-body text-center">
                                                <div class="card-title"><a href="">{{ eventos.titulo }}</a></div>
                                                <div class="card-text">{{ eventos.descripcion|slice:":20" }}....</div>
                                            </div>
                                            <div class="price_box d-flex flex-row align-items-center">
                                                <a class="course_author_name" href="{% url 'detallev' eventos.id %}">{{ eventos.pertenece|slice:":20" }} || LEER MAS</a>
                                            </div>
                                        </div>
                                    </div>
                {% endfor %}

			</div>
		</div>
	</div>

	<!-- Footer -->



</div>

{% endblock %}