{% load staticfiles %}
<html>
    <head>
        <title>Bienvenido a la Conferencia Venezolana de Religiosas y Religiosos</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.0.1/css/fontawesome-all.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
         <link rel="stylesheet" type="text/css" href="{% static 'FULLCALENDAR/fullcalendar.css' %}">
      
    </head>
    <body>
        {% block page_content %}
        {% endblock %}
    </body>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
   <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
   <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
   <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
   <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
   <script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
   <script src="{% static 'plugins/easing/easing.js' %}"></script>
   <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'FULLCALENDAR/lib/moment.min.js' %}"></script>
    <script src="{% static 'FULLCALENDAR/fullcalendar.js' %}"></script>

<!-- año - mes - dia -->
<script>
    $('#calendar').fullCalendar({
      events: [
       {
          title  : 'event2',
          start  : '2018-5-4'
        },
      ]
});
</script>



    <script src="{% static 'turnjs4/lib/turn.min.js' %}"></script>

<script type="text/javascript">
  $("#magnazine").turn({
    width: 1000,
    height: 700,
    autoCenter: true
  });
</script>

</html>
